@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-custom-background {
        background-image: url(../images/bg-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}